extends layout.pug

block content
  g(fill="transparent" stroke="#E1EDF2")
    each item in pointsAttr
      path(d=item)
  g(fill="transparent" stroke="black" stroke-width="3")
    path(d=dataAttr)
  g(fill="white")
    each item, index in dataPoints
      circle(cx=item.x cy=item.y r="10" stroke=colors[index] stroke-width="1")
      text(x=item.x y=item.y class="number" font-size="12" text-anchor="middle" dominant-baseline="middle" fill=colors[index]) #{fs.farsiNum(dataset[index].data)}
  g
  - var textOffset = 12;
    each item, index in textPoints
      text(x=item.x y=item.y-textOffset class="text title" font-size="12" text-anchor="middle" dominant-baseline="middle" fill="black") #{dataset[index].label}
      text(x=item.x y=item.y+textOffset class="text sub-title" font-size="12" text-anchor="middle" dominant-baseline="middle" fill="black") #{dataset[index].subLabel}
